In [81]:
import pandas as pd
import seaborn as sns
from dataprep.eda import *
import matplotlib.pyplot as plt
import numpy as np
plt.rcParams['font.family'] = 'AppleGothic'

In [98]:
rec=pd.read_excel('/Users/bomi/Downloads/2020 빅콘테스트 데이터분석분야-챔피언리그_2019년 실적데이터_v1_200818.xlsx',header=1)

features=['broadcast','exp_min','m_code','p_code','p_name','p_group','unit_price','total_price']
rec.columns=features

rec['broadcast'] = rec['broadcast'].astype('datetime64[ns]')
rec['month'] = rec.broadcast.dt.month
rec['day'] = rec.broadcast.dt.day
rec['hour']=rec.broadcast.dt.hour
rec['quarter'] = rec.broadcast.dt.quarter

rec=rec.dropna(subset=['total_price'])
rec['exp_min']=rec['exp_min'].fillna(method='ffill')

In [75]:
rec

,broadcast,exp_min,m_code,p_code,p_name,p_group,unit_price,total_price,month,day,hour,quarter
0,2019-01-01 06:00:00,20.0,100346,201072,테이트 남성 셀린니트3종,의류,39900,2099000.0,1,1,6,1
1,2019-01-01 06:00:00,20.0,100346,201079,테이트 여성 셀린니트3종,의류,39900,4371000.0,1,1,6,1
2,2019-01-01 06:20:00,20.0,100346,201072,테이트 남성 셀린니트3종,의류,39900,3262000.0,1,1,6,1
3,2019-01-01 06:20:00,20.0,100346,201079,테이트 여성 셀린니트3종,의류,39900,6955000.0,1,1,6,1
4,2019-01-01 06:40:00,20.0,100346,201072,테이트 남성 셀린니트3종,의류,39900,6672000.0,1,1,6,1
...,...,...,...,...,...,...,...,...,...,...,...,...
38299,2019-12-31 23:40:00,20.0,100448,201391,일시불쿠첸압력밥솥 6인용,주방,148000,10157000.0,12,31,23,4
38300,2020-01-01 00:00:00,20.0,100448,201383,무이자쿠첸압력밥솥 10인용,주방,178000,50929000.0,1,1,0,1
38301,2020-01-01 00:00:00,20.0,100448,201390,일시불쿠첸압력밥솥 10인용,주방,168000,104392000.0,1,1,0,1
38302,2020-01-01 00:00:00,20.0,100448,201384,무이자쿠첸압력밥솥 6인용,주방,158000,13765000.0,1,1,0,1
38303,2020-01-01 00:00:00,20.0,100448,201391,일시불쿠첸압력밥솥 6인용,주방,148000,46608000.0,1,1,0,1

In [103]:
rec['p_group']=pd.Categorical(rec['p_group']).codes

In [100]:
rec_y=rec['total_price']
rec_y

0          2099000.0
1          4371000.0
2          3262000.0
3          6955000.0
4          6672000.0
            ...
38299     10157000.0
38300     50929000.0
38301    104392000.0
38302     13765000.0
38303     46608000.0
Name: total_price, Length: 35379, dtype: float64

In [101]:
del rec['total_price']

In [105]:
del rec['p_name']

In [126]:
del rec['broadcast']

In [127]:
rec.head()

   exp_min  m_code  p_code  p_group  unit_price  month  day  hour  quarter
0     20.0  100346  201072        6       39900      1    1     6        1
1     20.0  100346  201079        6       39900      1    1     6        1
2     20.0  100346  201072        6       39900      1    1     6        1
3     20.0  100346  201079        6       39900      1    1     6        1
4     20.0  100346  201072        6       39900      1    1     6        1

In [128]:
x=np.array(rec)

In [129]:
x.shape

(35379, 9)

In [ ]:
y=np.array(rec_y)

In [ ]:
y.shape

In [121]:
from sklearn.model_selection import train_test_split

In [130]:
train_x,eval_x,train_y,eval_y=train_test_split(x,y,test_size=0.2)

In [134]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import RandomForestClassifier

In [ ]:
forest_reg=RandomForestClassifier()
forest_reg.fit(train_x,train_y)

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().

NameError: name 'forest_mse' is not defined