In [10]:
import pandas as pd
import seaborn as sns
from dataprep.eda import *
import matplotlib.pyplot as plt
import numpy as np
from datetime import datetime,timedelta
plt.rcParams['font.family'] = 'AppleGothic'

# Data prepare

In [15]:
rec=pd.read_excel('2020 빅콘테스트 데이터분석분야-챔피언리그_2019년 실적데이터_v1_200818.xlsx',header=1)

features=['broadcast','exp_min','m_code','p_code','p_name','p_group','unit_price','total_price']
rec.columns=features

rec['broadcast'] = rec['broadcast'].astype('datetime64[ns]')
rec['month'] = rec.broadcast.dt.month
rec['day'] = rec.broadcast.dt.day
rec['quarter'] = rec.broadcast.dt.quarter
rec['hour']=rec.broadcast.dt.hour
rec['min']=rec.broadcast.dt.minute
rec=rec.dropna(subset=['total_price'])
rec['exp_min'] = rec['exp_min'].fillna(method='ffill')

In [16]:
month = np.array(rec['month'])
day = np.array(rec['day'])
hour = np.array(rec['hour'])
minute = np.array(rec['min'])

for i in range(len(rec)) :
  # 익일 0시부터 2시까지 데이터는 전날 데이터로 계산
  if hour[i] ==0 or hour[i] ==1 or hour[i] ==2:
    rec['broadcast'][i] = pd.DatetimeIndex(rec['broadcast'])[i] - timedelta(days=1)
        
rec['month'] = month
rec['day'] = day
rec['hour'] = hour
rec['min'] = minute

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

In [17]:

rec["month"] = rec['broadcast'].dt.month
rec["day"] = rec['broadcast'].dt.day
rec["hour"] = rec['broadcast'].dt.hour
rec["min"] = rec['broadcast'].dt.minute

rec["year_day"] = rec['broadcast'].dt.date
rec['day_name'] = rec['broadcast'].dt.day_name()
rec['day_num'] = rec['broadcast'].dt.weekday + 1

In [18]:
rec

,broadcast,exp_min,m_code,p_code,p_name,p_group,unit_price,total_price,month,day,quarter,hour,min,year_day,day_name,day_num
0,2019-01-01 06:00:00,20.0,100346,201072,테이트 남성 셀린니트3종,의류,39900,2099000.0,1,1,1,6,0,2019-01-01,Tuesday,2
1,2019-01-01 06:00:00,20.0,100346,201079,테이트 여성 셀린니트3종,의류,39900,4371000.0,1,1,1,6,0,2019-01-01,Tuesday,2
2,2019-01-01 06:20:00,20.0,100346,201072,테이트 남성 셀린니트3종,의류,39900,3262000.0,1,1,1,6,20,2019-01-01,Tuesday,2
3,2019-01-01 06:20:00,20.0,100346,201079,테이트 여성 셀린니트3종,의류,39900,6955000.0,1,1,1,6,20,2019-01-01,Tuesday,2
4,2019-01-01 06:40:00,20.0,100346,201072,테이트 남성 셀린니트3종,의류,39900,6672000.0,1,1,1,6,40,2019-01-01,Tuesday,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38299,2019-12-31 23:40:00,20.0,100448,201391,일시불쿠첸압력밥솥 6인용,주방,148000,10157000.0,12,31,4,23,40,2019-12-31,Tuesday,2
38300,2020-01-01 00:00:00,20.0,100448,201383,무이자쿠첸압력밥솥 10인용,주방,178000,50929000.0,1,1,1,0,0,2020-01-01,Wednesday,3
38301,2020-01-01 00:00:00,20.0,100448,201390,일시불쿠첸압력밥솥 10인용,주방,168000,104392000.0,1,1,1,0,0,2020-01-01,Wednesday,3
38302,2020-01-01 00:00:00,20.0,100448,201384,무이자쿠첸압력밥솥 6인용,주방,158000,13765000.0,1,1,1,0,0,2020-01-01,Wednesday,3
38303,2020-01-01 00:00:00,20.0,100448,201391,일시불쿠첸압력밥솥 6인용,주방,148000,46608000.0,1,1,1,0,0,2020-01-01,Wednesday,3

In [20]:
del rec['broadcast'],rec['p_name'],rec['day_name']

In [21]:
rec

,exp_min,m_code,p_code,p_group,unit_price,total_price,month,day,quarter,hour,min,year_day,day_num
0,20.0,100346,201072,의류,39900,2099000.0,1,1,1,6,0,2019-01-01,2
1,20.0,100346,201079,의류,39900,4371000.0,1,1,1,6,0,2019-01-01,2
2,20.0,100346,201072,의류,39900,3262000.0,1,1,1,6,20,2019-01-01,2
3,20.0,100346,201079,의류,39900,6955000.0,1,1,1,6,20,2019-01-01,2
4,20.0,100346,201072,의류,39900,6672000.0,1,1,1,6,40,2019-01-01,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
38299,20.0,100448,201391,주방,148000,10157000.0,12,31,4,23,40,2019-12-31,2
38300,20.0,100448,201383,주방,178000,50929000.0,1,1,1,0,0,2020-01-01,3
38301,20.0,100448,201390,주방,168000,104392000.0,1,1,1,0,0,2020-01-01,3
38302,20.0,100448,201384,주방,158000,13765000.0,1,1,1,0,0,2020-01-01,3
38303,20.0,100448,201391,주방,148000,46608000.0,1,1,1,0,0,2020-01-01,3

In [26]:
rec['p_group']=pd.Categorical(rec['p_group']).codes

In [27]:
rec

,exp_min,m_code,p_code,p_group,unit_price,total_price,month,day,quarter,hour,min,year_day,day_num
0,20.0,100346,201072,6,39900,2099000.0,1,1,1,6,0,2019-01-01,2
1,20.0,100346,201079,6,39900,4371000.0,1,1,1,6,0,2019-01-01,2
2,20.0,100346,201072,6,39900,3262000.0,1,1,1,6,20,2019-01-01,2
3,20.0,100346,201079,6,39900,6955000.0,1,1,1,6,20,2019-01-01,2
4,20.0,100346,201072,6,39900,6672000.0,1,1,1,6,40,2019-01-01,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
38299,20.0,100448,201391,9,148000,10157000.0,12,31,4,23,40,2019-12-31,2
38300,20.0,100448,201383,9,178000,50929000.0,1,1,1,0,0,2020-01-01,3
38301,20.0,100448,201390,9,168000,104392000.0,1,1,1,0,0,2020-01-01,3
38302,20.0,100448,201384,9,158000,13765000.0,1,1,1,0,0,2020-01-01,3
38303,20.0,100448,201391,9,148000,46608000.0,1,1,1,0,0,2020-01-01,3

In [31]:
del rec['year_day']

In [36]:
rec.columns

Index(['exp_min', 'm_code', 'p_code', 'p_group', 'unit_price', 'total_price',
       'month', 'day', 'quarter', 'hour', 'min', 'day_num'],
      dtype='object')

In [37]:
rec=rec[['exp_min', 'm_code', 'p_code', 'p_group', 'unit_price','month', 'day', 'quarter', 'hour', 'min', 'day_num','total_price']]

In [83]:
rec.head()

,exp_min,m_code,p_code,p_group,unit_price,month,day,quarter,hour,min,day_num,total_price
0,20.0,100346,201072,6,39900,1,1,1,6,0,2,2099000.0
1,20.0,100346,201079,6,39900,1,1,1,6,0,2,4371000.0
2,20.0,100346,201072,6,39900,1,1,1,6,20,2,3262000.0
3,20.0,100346,201079,6,39900,1,1,1,6,20,2,6955000.0
4,20.0,100346,201072,6,39900,1,1,1,6,40,2,6672000.0

In [84]:
rec.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 35379 entries, 0 to 38303
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   exp_min      35379 non-null  float64
 1   m_code       35379 non-null  int64
 2   p_code       35379 non-null  int64
 3   p_group      35379 non-null  int8
 4   unit_price   35379 non-null  int64
 5   month        35379 non-null  int64
 6   day          35379 non-null  int64
 7   quarter      35379 non-null  int64
 8   hour         35379 non-null  int64
 9   min          35379 non-null  int64
 10  day_num      35379 non-null  int64
 11  total_price  35379 non-null  float64
dtypes: float64(2), int64(9), int8(1)
memory usage: 4.5 MB

# Train set prepare

In [39]:
data=np.array(rec)

In [40]:
data.shape

(35379, 12)

In [52]:
x=data[:,:-1]
y=data[:,-1]
y=y.reshape(-1,1)

In [53]:
from sklearn.model_selection import train_test_split

In [64]:
train_x,test_x,train_y,test_y=train_test_split(x,y,test_size=0.2)

In [87]:
print('train:',train_x.shape,train_y.shape,'/ test:',test_x.shape,test_y.shape)

train: (28303, 11) (28303, 1) / test: (7076, 11) (7076, 1)

# RandomForestRegressor

In [59]:
from sklearn.ensemble import RandomForestRegressor

In [67]:
rf = RandomForestRegressor(max_depth=5, n_estimators=100)
rf.fit(train_x,train_y)

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=5, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=100, n_jobs=None, oob_score=False,
                      random_state=None, verbose=0, warm_start=False)

In [68]:
rf.score(train_x,train_y)

0.34351778198636496

In [69]:
rf.score(test_x,test_y)

0.34791083884752083

# XGBoost

In [46]:
conda install -c anaconda py-xgboost

Collecting package metadata (current_repodata.json): done
Solving environment: done


==> WARNING: A newer version of conda exists. <==
  current version: 4.8.2
  latest version: 4.8.4

Please update conda by running

    $ conda update -n base -c defaults conda



## Package Plan ##

  environment location: /opt/anaconda3

  added / updated specs:
    - py-xgboost


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    _py-xgboost-mutex-2.0      |            cpu_0           8 KB  anaconda
    conda-4.8.4                |           py37_0         3.0 MB  anaconda
    libxgboost-0.90            |       h0a44026_1         2.4 MB  anaconda
    py-xgboost-0.90            |   py37h0a44026_1          77 KB  anaconda
    ------------------------------------------------------------
                                           Total:         5.5 MB

The following NEW packages will be INSTALLED:

  _py-xgboost-mutex  anaconda/osx-64::_py-xgboost-mutex-2.0-cpu_0
  libxgboost         anaconda/osx-64::libxgboost-0.90-h0a44026_1
  py-xgboost         anaconda/osx-64::py-xgboost-0.90-py37h0a44026_1

The following packages will be UPDATED:

  conda                       pkgs/main::conda-4.8.2-py37_0 --> anaconda::conda-4.8.4-py37_0



Downloading and Extracting Packages
conda-4.8.4          | 3.0 MB    | ##################################### | 100%
_py-xgboost-mutex-2. | 8 KB      | ##################################### | 100%
py-xgboost-0.90      | 77 KB     | ##################################### | 100%
libxgboost-0.90      | 2.4 MB    | ##################################### | 100%
Preparing transaction: done
Verifying transaction: done
Executing transaction: done

Note: you may need to restart the kernel to use updated packages.

In [88]:
xgbr = XGBRegressor(objective='reg:squarederror')  # default로 학습
xgbr.fit(train_x,train_y)

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, gamma=0,
             importance_type='gain', learning_rate=0.1, max_delta_step=0,
             max_depth=3, min_child_weight=1, missing=None, n_estimators=100,
             n_jobs=1, nthread=None, objective='reg:squarederror',
             random_state=0, reg_alpha=0, reg_lambda=1, scale_pos_weight=1,
             seed=None, silent=None, subsample=1, verbosity=1)

In [89]:
xgbr.score(train_x,train_y)

0.49133343052044487

In [90]:
xgbr.score(test_x,test_y)

0.4925305905878866

In [74]:
from sklearn.metrics import mean_absolute_error

In [91]:
for i in range(10):
    n = i
    price = xgbr.predict(test_x[n].reshape(1,-1))
    print('test[%d]의 추정 price = %.2f' % (n, price))
    print('test[%d]의 실제 price = %.2f' % (n, test_y[n]))
    print('추정 오류 = rmse(추정 price - 실제 price) = %.2f' % np.sqrt(np.square(price - test_y[n])))
    print('추정 오류 = mae = %.2f' % mean_absolute_error(price,test_y[n]))
    print('-'*20)

test[0]의 추정 price = 14924058.00
test[0]의 실제 price = 26488000.00
추정 오류 = rmse(추정 price - 실제 price) = 11563942.00
추정 오류 = mae = 11563942.00
--------------------
test[1]의 추정 price = 18433710.00
test[1]의 실제 price = 17080000.00
추정 오류 = rmse(추정 price - 실제 price) = 1353710.00
추정 오류 = mae = 1353710.00
--------------------
test[2]의 추정 price = 16881912.00
test[2]의 실제 price = 25178000.00
추정 오류 = rmse(추정 price - 실제 price) = 8296088.00
추정 오류 = mae = 8296088.00
--------------------
test[3]의 추정 price = 34349420.00
test[3]의 실제 price = 27719000.00
추정 오류 = rmse(추정 price - 실제 price) = 6630420.00
추정 오류 = mae = 6630420.00
--------------------
test[4]의 추정 price = 20812038.00
test[4]의 실제 price = 1583000.00
추정 오류 = rmse(추정 price - 실제 price) = 19229038.00
추정 오류 = mae = 19229038.00
--------------------
test[5]의 추정 price = 16185966.00
test[5]의 실제 price = 5488000.00
추정 오류 = rmse(추정 price - 실제 price) = 10697966.00
추정 오류 = mae = 10697966.00
--------------------
test[6]의 추정 price = 32733288.00
test[6]의 실제 price = 10048000.00
추정 오류 = rmse(추정 price - 실제 price) = 22685288.00
추정 오류 = mae = 22685288.00
--------------------
test[7]의 추정 price = 23573502.00
test[7]의 실제 price = 43210000.00
추정 오류 = rmse(추정 price - 실제 price) = 19636498.00
추정 오류 = mae = 19636498.00
--------------------
test[8]의 추정 price = 28384104.00
test[8]의 실제 price = 39899000.00
추정 오류 = rmse(추정 price - 실제 price) = 11514896.00
추정 오류 = mae = 11514896.00
--------------------
test[9]의 추정 price = 28947486.00
test[9]의 실제 price = 5085000.00
추정 오류 = rmse(추정 price - 실제 price) = 23862486.00
추정 오류 = mae = 23862486.00
--------------------

# Catboost

In [92]:
pip install catboost

Collecting catboost
  Downloading catboost-0.24.1-cp37-none-macosx_10_6_intel.macosx_10_9_intel.macosx_10_9_x86_64.macosx_10_10_intel.macosx_10_10_x86_64.whl (11.4 MB)
     |████████████████████████████████| 11.4 MB 9.2 MB/s eta 0:00:01
Requirement already satisfied: plotly in /opt/anaconda3/lib/python3.7/site-packages (from catboost) (4.9.0)
Requirement already satisfied: pandas>=0.24.0 in /opt/anaconda3/lib/python3.7/site-packages (from catboost) (1.0.1)
Requirement already satisfied: six in /opt/anaconda3/lib/python3.7/site-packages (from catboost) (1.14.0)
Requirement already satisfied: matplotlib in /opt/anaconda3/lib/python3.7/site-packages (from catboost) (3.1.3)
Requirement already satisfied: numpy>=1.16.0 in /opt/anaconda3/lib/python3.7/site-packages (from catboost) (1.18.1)
Requirement already satisfied: scipy in /opt/anaconda3/lib/python3.7/site-packages (from catboost) (1.4.1)
Collecting graphviz
  Downloading graphviz-0.14.1-py2.py3-none-any.whl (18 kB)
Requirement already satisfied: retrying>=1.3.3 in /opt/anaconda3/lib/python3.7/site-packages (from plotly->catboost) (1.3.3)
Requirement already satisfied: python-dateutil>=2.6.1 in /opt/anaconda3/lib/python3.7/site-packages (from pandas>=0.24.0->catboost) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /opt/anaconda3/lib/python3.7/site-packages (from pandas>=0.24.0->catboost) (2019.3)
Requirement already satisfied: kiwisolver>=1.0.1 in /opt/anaconda3/lib/python3.7/site-packages (from matplotlib->catboost) (1.1.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /opt/anaconda3/lib/python3.7/site-packages (from matplotlib->catboost) (2.4.6)
Requirement already satisfied: cycler>=0.10 in /opt/anaconda3/lib/python3.7/site-packages (from matplotlib->catboost) (0.10.0)
Requirement already satisfied: setuptools in /opt/anaconda3/lib/python3.7/site-packages (from kiwisolver>=1.0.1->matplotlib->catboost) (46.0.0.post20200309)
Installing collected packages: graphviz, catboost
Successfully installed catboost-0.24.1 graphviz-0.14.1
Note: you may need to restart the kernel to use updated packages.

In [93]:
from catboost import Pool,CatBoostRegressor

In [94]:
train_pool=Pool(train_x,train_y)

In [95]:
test_pool=Pool(test_x)

In [97]:
cbr=CatBoostRegressor(iterations=5,depth=10,learning_rate=0.1,loss_function='MAPE')

In [98]:
cbr.fit(train_pool)

0:	learn: 0.7533769	total: 71.6ms	remaining: 287ms
1:	learn: 0.7529124	total: 75.7ms	remaining: 114ms
2:	learn: 0.7525709	total: 80ms	remaining: 53.3ms
3:	learn: 0.7522016	total: 83.3ms	remaining: 20.8ms
4:	learn: 0.7518457	total: 87.8ms	remaining: 0us

In [99]:
pred=cbr.predict(test_pool)

In [100]:
print(pred)

[4602899.99999851 4637303.00051115 4608510.00008211 ... 4608500.00008196
 4610073.90010541 4603100.00000149]

In [103]:
for i in range(10):
    n = i
    price = pred[n]
    print('test[%d]의 추정 price = %.2f' % (n, price))
    print('test[%d]의 실제 price = %.2f' % (n, test_y[n]))
    print('추정 오류 = rmse(추정 price - 실제 price) = %.2f' % np.sqrt(np.square(price - test_y[n])))

    print('-'*20)

test[0]의 추정 price = 4602900.00
test[0]의 실제 price = 26488000.00
추정 오류 = rmse(추정 price - 실제 price) = 21885100.00
--------------------
test[1]의 추정 price = 4637303.00
test[1]의 실제 price = 17080000.00
추정 오류 = rmse(추정 price - 실제 price) = 12442697.00
--------------------
test[2]의 추정 price = 4608510.00
test[2]의 실제 price = 25178000.00
추정 오류 = rmse(추정 price - 실제 price) = 20569490.00
--------------------
test[3]의 추정 price = 4603000.00
test[3]의 실제 price = 27719000.00
추정 오류 = rmse(추정 price - 실제 price) = 23116000.00
--------------------
test[4]의 추정 price = 4608510.00
test[4]의 실제 price = 1583000.00
추정 오류 = rmse(추정 price - 실제 price) = 3025510.00
--------------------
test[5]의 추정 price = 4630610.00
test[5]의 실제 price = 5488000.00
추정 오류 = rmse(추정 price - 실제 price) = 857390.00
--------------------
test[6]의 추정 price = 4603000.00
test[6]의 실제 price = 10048000.00
추정 오류 = rmse(추정 price - 실제 price) = 5445000.00
--------------------
test[7]의 추정 price = 4608510.00
test[7]의 실제 price = 43210000.00
추정 오류 = rmse(추정 price - 실제 price) = 38601490.00
--------------------
test[8]의 추정 price = 4609450.00
test[8]의 실제 price = 39899000.00
추정 오류 = rmse(추정 price - 실제 price) = 35289550.00
--------------------
test[9]의 추정 price = 4614430.00
test[9]의 실제 price = 5085000.00
추정 오류 = rmse(추정 price - 실제 price) = 470570.00
--------------------

In [107]:
cbr.score(train_x,train_y)

KeyboardInterrupt:

In [106]:
cbr.score(test_x,test_y)

-13109.978698421439